{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row" style="width:1000px; margin:0 auto;text-align: right;padding: 50px 50px 20px 90px">
    <form class="col s10 card-panel hoverable" style="padding: 30px" action="/registerfarmer" method="post">
      <div class="row">
        <h4 align="center"> Create a New Farmer Profile </h4>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtUsername" name="txtUsername" type="text" class="validate">
            <label for="txtUsername">Username</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtPassword" name="txtPassword" type="password" class="validate">
            <label for="txtPassword">Password</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtName" name="txtName" type="text" class="validate">
            <label for="txtName">Name</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtAge" name="txtAge" type="text" class="validate">
            <label for="txtAge">Age</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtDOB" name="txtDOB" type="text" class="validate">
            <label for="txtDOB">D.O.B</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtLocation" name="txtLocation" type="text" class="validate">
            <label for="txtLocation">Location</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtyield1" name="txtyield1" type="text" class="validate">
            <label for="txtyield1">Yield 1</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtyield2" name="txtyield2" type="text" class="validate">
            <label for="txtyield2">Yield 2</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtyield3" name="txtyield3" type="text" class="validate">
            <label for="txtyield3">Yield 3</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtcollat" name="txtcollat" type="text" class="validate">
            <label for="txtcollat">Collateral</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtcollamt" name="txtcollamt" type="text" class="validate">
            <label for="txtcollamt">Collateral Value</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field inline">
            <input id="txtloanamt" name="txtloanamt" type="text" class="validate">
            <label for="txtloanamt">Loan Amount</label>
          </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Register
    <i class="material-icons right">send</i>
  </button>
    </form> 
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="alert alert-info" role="alert">{{ message }}</div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h1>Create New User</h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="/registerfarmer" method="post">
        <div class="form-group">
         <label for="txtUsername">Username*</label>
         <input type="text" class="form-control" id="txtUsername" name="txtUsername"/>
        </div>
        <div class="form-group">
          <label for="txtName">Name*</label>
          <input type="text" class="form-control" id="txtName" name="txtName"/>
        </div>
       <div class="form-group">
          <label for="txtPassword">Password*</label>
          <input type="password" class="form-control" id="txtPassword" name="txtPassword"/>
        </div>
    <div class="form-group">
          <label for="txtAge">Age*</label>
          <input type="number" class="form-control" id="txtAge" name="txtAge"/>
        </div>
    <div class="form-group">
          <label for="txtDOB">Date of Birth(dd/mm/yy)*</label>
          <input type="date" class="form-control" id="txtDOB" name="txtDOB"/>
        </div>
      <div class="form-group">
          <label for="txtLocation">Location*</label>
          <input type="text" class="form-control" id="txtLocation" name="txtLocation"/>
        </div>
      <div class="form-group">
          <label for="txtyield1">Yield1*</label>
          <input type="number" class="form-control" id="txtyield1" name="txtyield1"/>
        </div>
      <div class="form-group">
          <label for="txtyield2">Yield2*</label>
          <input type="number" class="form-control" id="txtyield2" name="txtyield2"/>
        </div>
      <div class="form-group">
          <label for="txtyield3">Yield3*</label>
          <input type="number" class="form-control" id="txtyield3" name="txtyield3"/>
        </div>
      <div class="form-group">
          <label for="txtcollat">Collateral*</label>
          <input type="text" class="form-control" id="txtcollat" name="txtcollat"/>
        </div>
      <div class="form-group">
          <label for="txtcollamt">Collateral Amount*</label>
          <input type="number" class="form-control" id="txtcollamt" name="txtcollamt"/>
        </div>
        <div class="form-group">
          <label for="txtloanamt">Loan Required*</label>
          <input type="number" class="form-control" id="txtloanamt" name="txtloanamt"/>
        </div>
      
    <center>  <button type="submit" class="btn btn-primary">Create User</button>  </center>
      </form>
    </div>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="alert alert-info" role="alert">{{ message }}</div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div> -->
{% endblock %}
